 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Om</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-20">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lorem nulla, suscipit sed nunc a, consequat sollicitudin tortor. Duis ut nulla non nisl cursus aliquam. Nullam tellus orci, gravida quis augue id, laoreet mattis tortor. Nam rutrum ullamcorper magna at varius. Quisque risus neque, scelerisque ut felis sit amet, eleifend tristique dui. Aenean in iaculis urna. .</p>
                </div>
                <div class="col-lg-4">
                    <p>In venenatis nisl sit amet ex mattis accumsan. Nullam at mi in erat rutrum semper. Aenean vel libero vulputate, vehicula ex id, tempor tortor. Aenean mollis mi in congue tempor. Pellentesque sed ornare urna. In imperdiet convallis ante sed venenatis. In posuere dolor eu dui egestas, ac interdum ex rutrum.  </p>
                </div>
                <div class="col-lg-4">
                    <p>In venenatis nisl sit amet ex mattis accumsan.  Aenean vel libero vulputate, vehicula ex id, tempor tortor. Aenean mollis mi in congue tempor. Pellentesque sed ornare urna. In imperdiet convallis ante sed venenatis. In posuere dolor eu dui egestas, ac interdum ex rutrum. </p>
                </div>
            </div>
        </div>
    </section>
